<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.2.xsd">


	<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5432/ttt" />
		<property name="username" value="ttt" />
		<property name="password" value="abcd" />
		<property name="initialSize" value="1" />
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="ttt" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<context:annotation-config />

	<tx:annotation-driven />

	<context:component-scan base-package="ttt.model" />
	<context:component-scan base-package="ttt.service" />


	<security:authentication-manager>
		<security:authentication-provider>
			<security:jdbc-user-service
				data-source-ref="dataSource"
				users-by-username-query="
              select username,password,1 as enabled 
              from game_users where username=?" />

		</security:authentication-provider>
	</security:authentication-manager>

	<security:http auto-config="true" use-expressions="true">
		<security:intercept-url pattern="/user/**"
			access="authenticated" />
		<security:intercept-url pattern="/savesgame.html"
			access="authenticated" />
		<security:intercept-url pattern="/displaySaveGames.html"
			access="authenticated" />
		<security:intercept-url pattern="/p2.html"
			access="authenticated" />
		<security:intercept-url pattern="/history.html"
			access="authenticated" />
		<security:intercept-url pattern="/AI.html"
			access="authenticated" />
		<security:intercept-url pattern="/GameHome.html"
			access="authenticated" />	
		<security:intercept-url pattern="/ttt.html"
			access="authenticated" />	
		<security:intercept-url pattern="/hostgame.html"
			access="authenticated" />	
		<security:intercept-url pattern="/joingame.html"
			access="authenticated" />
			
		<security:intercept-url pattern="/player2.html"
			access="authenticated" />	
			
			
			
		<security:intercept-url pattern="/displaySaveGames.html"
			access="authenticated" />
			
		
		
		<security:form-login login-page="/login.html"
			default-target-url="/welcome.html" authentication-failure-url="/loginfailed.html" />
	</security:http>

	<security:global-method-security
		pre-post-annotations="enabled" />

</beans>